body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #49525c;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .property-card {
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .property-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .property-card h3 {
    margin: 0;
  }
  
  .property-card p {
    margin: 5px 0;
  }
  